{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "config": "./src/config",
        "middleware": "./src/middleware",
        "database": "./src/database"
      }
    }]
  ]
}
