{
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "env": {
        "jquery": true
    },
    "rules": {
        "no-console": 0,
        "no-else-return": 0,
        "no-underscore-dangle": [1, {
            "allow": [
                "_id"
            ]
        }],
        "max-len": 0,
        "no-plusplus": 0,
        "no-mixed-operators": 0,
        "import/prefer-default-export": 0

    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}
